<%- include('partials/header') %>
<div class="col-xs-12 col-md-9">
    <div class="jumbotron p-5 m-4 bg-light">
      <h1 class="display-4">The Homestay Company</h1>

      <p class="lead">Welcome! This is a place where you can book our customized homes for your vacations, parties, workations etc</p>
      <hr class="my-4">
      <p>We have all kinds of homes ranging from Cabins, Independent homes, Apartments, Castles etc.</p>
    </div>
  </div>

<%- include('partials/footer') %>