<footer class="bg-light text-center text-lg-start ">
    <div class="text-center p-3 bg-primary text-white">
      © 2022 Copyright:
      <a class="text-white" href="#">Home Stay Company</a>
    </div>
  </footer>
</body>
</html>